body {

    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    cursor: pointer;

}

.no-margin {
    margin: 0;
    padding: 0;
}

.centre-content {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 300px;

  }

  table {
    width: 700px; 
    height: 70px; 
    border: 1px solid black;
    border-collapse: collapse; 
}

td {
    border: 1px solid black; 
    padding: 8px; 
    
}

.popup-style {
    width: 441px;
    height: 52px; 
    border-radius: 10px;
    border: solid black;
    text-align: center;
    
}

label {
    text-align: left;
}

#cancel-btn{
    position: absolute;
    margin: 10px;
    font-size: 30px;
    left: 15.4em;
    top: 0em;
    cursor: pointer;
    transition: .3s;
}

#cancel-btn:hover{
    transform: scale(1.1);
    color: rgba(231, 13, 13, 0.633);
    
}

#submit-btn {
    cursor: pointer;
    transition: .5s;
}

#submit-btn:hover{
    transform: scale(1.01);

}



